# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [6]:
!conda install lxml -y

Channels:
 - defaults
Platform: win-64
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\SABEH\anaconda3\envs\python12

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    lxml-4.9.3                 |  py312h09808a7_0         1.0 MB
    ------------------------------------------------------------
                                           Total:         1.0 MB

The following NEW packages will be INSTALLED:

  libiconv           pkgs/main/win-64::libiconv-1.16-h2bbff1b_2
  libxml2            pkgs/main/win-64::libxml2-2.10.4-h0ad7f3c_1
  libxslt            pkgs/main/win-64::libxslt-1.1.37-h2bbff1b_1
  lxml               pkgs/main/win-64::lxml-4.9.3-py312h09808a7_0



Downloading and Extracting Packages: ...working... done
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

# Python Arithmetic Operators

In [9]:
# !pip install pandas
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [10]:
a : int = 7
b : int = 2

print(a + b) #addition
print(a - b) #subtraction
print(a * b) #multiplication
print(a / b) #division

9
5
14
3.5

In [12]:
a : int = 11
b : int = 3

print(a % b) #modulus

2

In [16]:
a : int = 2

print(a**2) #Exponentiation
print(a**3)

4
8

In [17]:
print(12 / 3)

4.0

In [20]:
print(14.8 / 3)

4.933333333333334

In [21]:
print(14.8 // 3)

4.0

# Python Assignment Operators

In [22]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [ ]:
# = assign
a : int = 7
b : int = 2

In [24]:
# +=
a : int = 7
print(a)
# a : int = a + 2
# print(a)
a += 2
print(a)

7
9

In [25]:
# -=
a : int = 7
print(a)
a -= 2
print(a)

7
5