# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [6]:
!conda install lxml -y

Channels:
 - defaults
Platform: win-64
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\SABEH\anaconda3\envs\python12

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    lxml-4.9.3                 |  py312h09808a7_0         1.0 MB
    ------------------------------------------------------------
                                           Total:         1.0 MB

The following NEW packages will be INSTALLED:

  libiconv           pkgs/main/win-64::libiconv-1.16-h2bbff1b_2
  libxml2            pkgs/main/win-64::libxml2-2.10.4-h0ad7f3c_1
  libxslt            pkgs/main/win-64::libxslt-1.1.37-h2bbff1b_1
  lxml               pkgs/main/win-64::lxml-4.9.3-py312h09808a7_0



Downloading and Extracting Packages: ...working... done
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

# Python Arithmetic Operators

In [9]:
# !pip install pandas
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [10]:
a : int = 7
b : int = 2

print(a + b) #addition
print(a - b) #subtraction
print(a * b) #multiplication
print(a / b) #division

9
5
14
3.5

In [12]:
a : int = 11
b : int = 3

print(a % b) #modulus

2

In [16]:
a : int = 2

print(a**2) #Exponentiation
print(a**3)

4
8

In [17]:
print(12 / 3)

4.0

In [20]:
print(14.8 / 3)

4.933333333333334

In [21]:
print(14.8 // 3)

4.0

# Python Assignment Operators

In [22]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [ ]:
# = assign
a : int = 7
b : int = 2

In [24]:
# +=
a : int = 7
print(a)
# a : int = a + 2
# print(a)
a += 2
print(a)

7
9

In [25]:
# -=
a : int = 7
print(a)
a -= 2
print(a)

7
5

In [5]:
a : int = 7
print(b := 7) # walrus operator

7

# Python Comparison Operators

In [6]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [7]:
a : int = 7
b : int = 10
print(a == b) # 7 == 10
# False

False

In [8]:
a : int = 7
b : int = 7
print(a == b) # 7 == 7
# True

True

In [12]:
a : int = 7
b : int = '7'
print(a == b) # false
# in javascript it is true, but not in python

False

In [13]:
# != not equal to
a : int = 7
b : int = 7
print(a != b)

False

In [14]:
# > greater than
a : int = 7
b : int = 8
print(a > b) 
# 7 > 8 --> false

False

In [15]:
# > greater than
a : int = 7
b : int = 7
print(a > b) 
# 7 > 7 --> false

False

In [16]:
# > greater than
a : int = 10
b : int = 8
print(a > b) 
# 10 > 8 --> true

True

In [17]:
# < less than
a : int = 10
b : int = 8
print(a < b)

False

In [18]:
# >= greater or equal
a : int = 7
b : int = 7
print(a >= b)

True

In [20]:
# >= less or equal
a : int = 10
b : int = 7
print(a <= b)

False

In [21]:
# >= less or equal
a : int = 5
b : int = 7
print(a <= b)

True

 ASCII CODE

* A = 65 , Z = 90 
* a = 97 , z = 122,
* 0=48, 9=57

In [31]:
chr(65)

'A'

In [32]:
ord('A')

65

In [26]:
a : str = 'A'
b : str = 'B'
print(b >= a) 
# 66 >= 65 --> TRUE

True

In [27]:
a : str = 'a' # 97
b : str = 'A' # 65
print(a > b)

True

# Python Logical Operators

In [33]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [34]:
# and --> lazmi
# or --> optional
# 1       2         3        4
True and True and True and True

True

In [36]:
print(True and True and True and True) 
print(False and False and False and True) # false

True
False

In [38]:
print(True or True or True or True) 
print(False or False or True)
print(True or False or False or True)

True
True
True

In [40]:
# not opertor
not True

False

In [41]:
name : str = 'Sabeh'
print(not name == 'Sabeh')

False

# Python Identity Operators

In [42]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [43]:
x : str = 'abc'
z : str = 'abc'
print(id(x))
print(id(z))

140710350033160
140710350033160

In [44]:
x is z

True

In [45]:
x : str = 'abc'
z : str = 'abc'
print(id(x))
print(id(z))

x is not z

140710350033160
140710350033160

False

In [47]:
i : str = 'abc'
j : str = 'xyz'
print(id(i))
print(id(j))

i is j

140710350033160
2308082105536

False

# Python Membership Operators

In [49]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [59]:
names: list[str] = [chr(i) for i in range(65,91)]

for i in range(len(names)):
    print(i, names[i])
    if names[i] == "H":
        print("True")
        break

0 A
1 B
2 C
3 D
4 E
5 F
6 G
7 H
True

In [57]:
names: list[str] = [chr(i) for i in range(65,91)]

"D" in names

True

In [60]:
names: list[str] = [chr(i) for i in range(65,91)]
display(names)

"ABC" in names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

False

In [62]:
names: list[str] = ['Sir Zia' , 'Sir Inam' , 'Qasim']

uinput : str = input('Enter your name')

uinput in names
# Qasim in names --> true, because Qasim is in names

True

In [64]:
names: list[str] = ['Sir Zia' , 'Sir Inam' , 'Qasim']

uinput : str = input('Enter your name')

uinput not in names
# Qasim not in names --> false, because Qasim is in names

True

# Operator Precedence

<img src='https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg'>

# PEMDAS

First, we perform multiplication and division from left to right:

2 × 4 = 8 ,
8/2= 4
Now, we substitute the results back into the expression:

3+2−4+2

Next, we perform addition and subtraction from left to right:

3+2=5

5−4=1
1+2=3
So, the result of the expression is 3

In [68]:
print(3 + 2 - 2 * 4 / 2 + 2)

3.0

In [69]:
print((6 + 3) - (6 + 3))

0

In [70]:
print(100 + 5 * 3)

115

In [71]:
universe_age = 14_000_000_000
print(universe_age)

14000000000

* unzip

In [81]:
# unzip
#0  1  2    0    1   2
a , b, c = 'a' , 7 , 3.0
print(a)
print(b)
print(c)

a
7
3.0

In [77]:
'a' , 7 , 3.0

('a', 7, 3.0)

In [78]:
data = ('sabeh' , 7 , 3.0)
print(data[0], data[1] , data[2])

sabeh 7 3.0

In [79]:
data = ('sabeh' , 7 , 3.0)
print(*data)

sabeh 7 3.0

In [80]:
"a" * 3

'aaa'

* comments

In [82]:
# akadkjas

# adskf
# ads
# Falsea
# df

* walrus operator

In [84]:
a : int = 10
if(a < (b := a+5)):
    print(b)
else:
    print('else is working')

15

In [87]:
"""
asdf
asd
f
asdf

"""

print('hello')

hello

In [86]:

import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!