In [1]:
print("name")

name

# String Data type in Python

In [4]:
# boundries
# 'string text' , "string text" , '''string text''' , """string""" 
# `string text` typescript
name : str = 'Sabeh Shaikh'
print(type(name))
print(name)

<class 'str'>
Sabeh Shaikh

In [6]:
message : str = "PIAIC Student Card \n father's Name"
print(message)

PIAIC Student Card
 father's Name

In [7]:
message : str = 'PIAIC "Student Card" \n fathers Name'
print(message)

PIAIC "Student Card"
 fathers Name

In [8]:
# convert any special character into simple character, place \ before character
message : str = 'PIAIC "Student Card" \n father\'s Name'
print(message)

PIAIC "Student Card"
 father's Name

In [5]:
# boundries
# 'string text' , "string text" , '''string text''' , """string""" 
# `string text` typescript
name : str = "Sabeh"
print(type(name))
print(name)

<class 'str'>
Sabeh

In [10]:
#concatenation
"A" + "B"

'AB'

In [20]:
#cannot concatenate with a number
"A" + str(7)

'A7'

In [30]:
# boundries
# 'string text' , "string text" , '''string text''' , """string""" 
# `string text` typescript
name : str = 'Sabeh Shaikh'
fname: str = "Arshad Shaikh"
education: str = "Bachelors in Computer Science"
age : int = 30

card : str = "PIAIC Student Card\nStudent Name: " + name +\
"\nAge: " + str(age) + "\n" + \
"Education: " + education 

print(card)

PIAIC Student Card
Student Name: Sabeh Shaikh
Age: 30
Education: Bachelors in Computer Science

# Define multi-line string """ """ , ''' '''

In [32]:
name : str = 'Sabeh Shaikh'
fname: str = "Arshad Shaikh"
education: str = "Bachelors in Computer Science"
age : int = 30

card : str = """
PIAIC Student Card
Student Name: 
Father's Name: 
Age: 
Education: 
"""

print(card)

PIAIC Student Card
Student Name: ....
Father's Name: ...
Age: ....
Education: ...

# F-string python

In [33]:
name : str = 'Sabeh Shaikh'
fname: str = "Arshad Shaikh"
education: str = "Bachelors in Computer Science"
age : int = 30

card : str = f"""
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Age: {age}
Education: {education} 
"""

print(card)

PIAIC Student Card
Student Name: Sabeh Shaikh
Father's Name: Arshad Shaikh
Age: 30
Education: Bachelors in Computer Science

In [34]:
name : str = 'Sabeh Shaikh'
fname: str = "Arshad Shaikh"
education: str = "Bachelors in Computer Science"
age : int = 30

card : str = f'''
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Age: {age}
Education: {education} 
'''

print(card)

PIAIC Student Card
Student Name: Sabeh Shaikh
Father's Name: Arshad Shaikh
Age: 30
Education: Bachelors in Computer Science

In [35]:
name : str = 'Sabeh Shaikh'
fname: str = "Arshad Shaikh"
education: str = "Bachelors in Computer Science"
age : int = 30

card : str = f"""
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Age: {age}
Education: {education} 

Total {2 + 8 + 9}
"""

print(card)

PIAIC Student Card
Student Name: Sabeh Shaikh
Father's Name: Arshad Shaikh
Age: 30
Education: Bachelors in Computer Science

Total 19

In [ ]:
name : str = 'Sabeh Shaikh'
fname: str = "Arshad Shaikh"
education: str = "Bachelors in Computer Science"
age : int = 30

# backticks do not work here
card : str = f`
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Age: {age}
Education: {education} 
` 

print(card)

# Line Continue

In [27]:
print(7 + \
      8 + \
      + 2)

17

# F-string and Jinja style

In [36]:
f"""
Student name {name}

"""

'\nStudent name Sabeh Shaikh\n\n'

In [38]:
# Jinja style
"""
Student name {{name}}
"""

'\nStudent name {{name}}\n'

In [44]:
[i for i in dir(str) if "_" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [49]:
a = 7
b = 8
# {} place holder
#                   0                1          0 1
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 7 and value b = 8'

In [47]:
name : str = "SaBeH ShaIKh"
print(name.capitalize())
print(name.lower())

Sabeh shaikh
sabeh shaikh

In [41]:
name : str = 'Sabeh Shaikh'
fname: str = "Arshad Shaikh"
education: str = "Bachelors in Computer Science"
age : int = 30

card : str = """
PIAIC Student Card
Student Name: %s
Father's Name: %s
Age: %d
Education: %s

""" % (name , fname , age , education)
print(card)

PIAIC Student Card
Student Name: Sabeh Shaikh
Father's Name: Arshad Shaikh
Age: 30
Education: Bachelors in Computer Science

In [2]:
name : str = 'Sabeh Shaikh'
fname: str = "Arshad Shaikh"
education: str = "Bachelors in Computer Science"
age : int = 30

card : str = """
PIAIC Student Card
Student Name: {1}
Father's Name: {0}
Age: {3}
Education: {2} 

           
""".format(fname, name, education, age)
#          0       1      2         3

print(card)

PIAIC Student Card
Student Name: Sabeh Shaikh
Father's Name: Arshad Shaikh
Age: 30
Education: Bachelors in Computer Science

In [5]:
name : str = 'Sabeh Shaikh'
fname: str = "Arshad Shaikh"
education: str = "Bachelors in Computer Science"
age : int = 30

card : str = """
PIAIC Student Card
Student Name: {a}
Father's Name: {b}
Age: {c}
Education: {d} 

           
""".format(a = name , b = fname , c = age, d = education)
#          0       1      2         3

print(card)

PIAIC Student Card
Student Name: Sabeh Shaikh
Father's Name: Arshad Shaikh
Age: 30
Education: Bachelors in Computer Science

# Recommended below two f-string

In [ ]:
name : str = 'Sabeh Shaikh'
fname: str = "Arshad Shaikh"
education: str = "Bachelors in Computer Science"
age : int = 30

card : str = f"""
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Age: {age}
Education: {education} 

"""

print(card)

In [6]:
student_code: str = """
print("My name is Sabeh")
a : int = 7
b : int = 8
print(a + b)
"""

exec(student_code)

My name is Sabeh
15

# Explore STRING Methods and Attributes

pre-defined global functions, we have used.
* print
* type
* id
* dir
* len

In [7]:
a: list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [8]:
name : str = 'SaBeh ShAiKh'

# variable_name.method()
print(name.capitalize())

Sabeh shaikh

In [12]:
name : str = 'SaBeh ShAiKh'

# variable_name.method()
print(name)
print(name.casefold())

SaBeh ShAiKh
sabeh shaikh

In [13]:
name : str = 'SaBeh ShAiKh'

# variable_name.method()
print(name)
print(name.lower())

SaBeh ShAiKh
sabeh shaikh

In [16]:
name : str = '          SaBeh ShAiKh               '

# variable_name.method()
display(name)
print(name.lstrip())

'          SaBeh ShAiKh               '

SaBeh ShAiKh

In [17]:
name : str = '          SaBeh ShAiKh               '

# variable_name.method()
display(name)
print(name.rstrip())

'          SaBeh ShAiKh               '

          SaBeh ShAiKh

In [26]:
name : str = '          SaBeh     ShAiKh               '

# variable_name.method()
display(name)
display(name.strip())

'          SaBeh     ShAiKh               '

'SaBeh     ShAiKh'

In [25]:

import re
name : str = "      Sabeh           Shaikh          "
display(name)
name1 : str = re.sub(' {2,100}',' ', name).strip()
display(name1)

'      Sabeh           Sabeh          '

'Sabeh Sabeh'

In [30]:
name : str = "sABeh sHaikh"
# variable_name.method()
display(name)
display(name.title()) # har word ka pehla capital

'sABeh sHaikh'

'Sabeh Shaikh'

In [31]:

name:str = "Ada Lovelace"
print(name.upper())
print(name.lower())

ADA LOVELACE
ada lovelace

In [35]:
first_name = "ada"
last_name = "lovelace"
full_name = f"{first_name} {last_name}"
print(f"Hello, {full_name.title()}!")

Hello, Ada Lovelace!

In [ ]:
\n
\t
\b

In [36]:
print("Name:\t\t Sabeh Shaikh")

Name:		 Sabeh Shaikh

In [42]:
# \t --> Inserts a horizontal tab character.
print("Column1\tColumn2\tColumn3")
print("Data1\tData2\tData3")

Column1	Column2	Column3
Data1	Data2	Data3

In [37]:
print("Name:\n Sabeh Shaikh")

Name:
 Sabeh Shaikh

In [43]:
print("This is line 1.\nThis is line 2.")

This is line 1.
This is line 2.

In [38]:
print("Name:\b Sabeh Shaikh") 
# backspace removed colon

Name Sabeh Shaikh

In [39]:
nostarch_url:str = 'https://nostarch.com'
nostarch_url.removeprefix('https://')

'nostarch.com'

In [44]:
# variable name cannot start with a number
1name = str = 'sabeh'
print(1name)

SyntaxError: invalid decimal literal (3555022359.py, line 1)

In [45]:
name1 = str = 'sabeh'
print(name1)

sabeh

In [46]:
_1name = str = 'sabeh'
print(_1name)

sabeh

In [48]:
# this will also cause an error
piaic student name : str = 'sabeh shaikh'

SyntaxError: invalid syntax (1380201795.py, line 2)

In [49]:
piaic_student_name : str = 'sabeh shaikh'
display(piaic_student_name)

'sabeh shaikh'