# List
* iteration operation with loop
* apply any operation on element

In [3]:
names : list[str] = ['Sir Zia', 'Sir Qasim' , 'Dr Noman'] 
print(names)

['Sir Zia', 'Sir Qasim', 'Dr Noman']

In [5]:
names : list[str] = ['Sir Zia', 'Sir Qasim' , 'Dr Noman'] 

for name in names:
    print(name)

# Sir Zia
# Sir Qasim
# Dr Noman

Sir Zia
Sir Qasim
Dr Noman

```
names : list[str] = ['Sir Zia', 'Sir Qasim' , 'Dr Noman']

for(i=0; i<names.length; i++) {
    names[i]
}
```

In [2]:
names : list[str] = ['Sir Zia', 'Sir Qasim' , 'Dr Noman']

i: int = 0
while i<len(names): # names length = 3
    print(names[i])
    i += 1

Sir Zia
Sir Qasim
Dr Noman

In [4]:
names : list[str] = ['Sir Zia', 'Sir Qasim' , 'Dr Noman'] 

for name in names:
    print(f'Welcome Dear Teacher {name.title()}')

Welcome Dear Teacher Sir Zia
Welcome Dear Teacher Sir Qasim
Welcome Dear Teacher Dr Noman

In [6]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(f'Welcome Dear Tacher {name.title()}')
    print("PIAIC Gen AI Team\n")

Welcome Dear Tacher Sir Zia
PIAIC Gen AI Team

Welcome Dear Tacher Muhammad Qasim
PIAIC Gen AI Team

Welcome Dear Tacher Dr Noman
PIAIC Gen AI Team

In [9]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(f'Welcome Dear Tacher {name.title()}')

    print("PIAIC Gen AI Team\n")

print('Only Print ONE Time, not in iteration.')

Welcome Dear Tacher Sir Zia
PIAIC Gen AI Team

Welcome Dear Tacher Muhammad Qasim
PIAIC Gen AI Team

Welcome Dear Tacher Dr Noman
PIAIC Gen AI Team

Only Print ONE Time, not in iteration.

In [14]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names[:2]: # will now print till 2-index = 2-1 = 1
    print(f'Welcome Dear Tacher {name.title()}')

    print("PIAIC Gen AI Team\n")

print('Only Print ONE Time, not in iteration.')

Welcome Dear Tacher Sir Zia
PIAIC Gen AI Team

Welcome Dear Tacher Muhammad Qasim
PIAIC Gen AI Team

Only Print ONE Time, not in iteration.

In [20]:
data_base : list[tuple[str,str]] = [("sabeh" , "123"), 
                                    ("sir zia" , "345"),
                                    ("ikhlas" , "789")
                                    ]

for row in data_base:
    print(row)

('sabeh', '123')
('sir zia', '345')
('ikhlas', '789')

In [1]:
data_base : list[tuple[str,str]] = [("sabeh" , "123"), 
                                    ("sir zia" , "345"),
                                    ("ikhlas" , "789")
                                    ]

for row in data_base:
    user , password =  row
    print(user , password)

sabeh 123
sir zia 345
ikhlas 789

In [2]:

input_user : str = input("Enter user name")
print(input_user)

Enter user name Pakistan

Pakistan

In [5]:
data_base : list[tuple[str,str]] = [("sabeh" , "123"), 
                                    ("sir zia" , "345"),
                                    ("ikhlas" , "789")
                                    ]

input_user : str = input("Enter user name")
input_password : str = input("Enter user password")

for row in data_base:
    user , password =  row
    if input_user == user and input_password == password:
        print("Valid User")
        break

else:
    print("Invalid user name")

Enter user name ronaldo
Enter user password 123

Invalid user name