# List
* iteration operation with loop
* apply any operation on element

In [17]:
names : list[str] = ['Sir Zia', 'Sir Qasim' , 'Dr Noman'] 
print(names)

['Sir Zia', 'Sir Qasim', 'Dr Noman']

In [18]:
names : list[str] = ['Sir Zia', 'Sir Qasim' , 'Dr Noman'] 

for name in names:
    print(name)

# Sir Zia
# Sir Qasim
# Dr Noman

Sir Zia
Sir Qasim
Dr Noman

```
names : list[str] = ['Sir Zia', 'Sir Qasim' , 'Dr Noman']

for(i=0; i<names.length; i++) {
    names[i]
}
```

In [19]:
names : list[str] = ['Sir Zia', 'Sir Qasim' , 'Dr Noman']

i: int = 0
while i<len(names): # names length = 3
    print(names[i])
    i += 1

Sir Zia
Sir Qasim
Dr Noman

In [20]:
names : list[str] = ['Sir Zia', 'Sir Qasim' , 'Dr Noman'] 

for name in names:
    print(f'Welcome Dear Teacher {name.title()}')

Welcome Dear Teacher Sir Zia
Welcome Dear Teacher Sir Qasim
Welcome Dear Teacher Dr Noman

In [21]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(f'Welcome Dear Tacher {name.title()}')
    print("PIAIC Gen AI Team\n")

Welcome Dear Tacher Sir Zia
PIAIC Gen AI Team

Welcome Dear Tacher Muhammad Qasim
PIAIC Gen AI Team

Welcome Dear Tacher Dr Noman
PIAIC Gen AI Team

In [22]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(f'Welcome Dear Tacher {name.title()}')

    print("PIAIC Gen AI Team\n")

print('Only Print ONE Time, not in iteration.')

Welcome Dear Tacher Sir Zia
PIAIC Gen AI Team

Welcome Dear Tacher Muhammad Qasim
PIAIC Gen AI Team

Welcome Dear Tacher Dr Noman
PIAIC Gen AI Team

Only Print ONE Time, not in iteration.

In [23]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names[:2]: # will now print till 2-index = 2-1 = 1
    print(f'Welcome Dear Tacher {name.title()}')

    print("PIAIC Gen AI Team\n")

print('Only Print ONE Time, not in iteration.')

Welcome Dear Tacher Sir Zia
PIAIC Gen AI Team

Welcome Dear Tacher Muhammad Qasim
PIAIC Gen AI Team

Only Print ONE Time, not in iteration.

In [24]:
data_base : list[tuple[str,str]] = [("sabeh" , "123"), 
                                    ("sir zia" , "345"),
                                    ("ikhlas" , "789")
                                    ]

for row in data_base:
    print(row)

('sabeh', '123')
('sir zia', '345')
('ikhlas', '789')

In [25]:
data_base : list[tuple[str,str]] = [("sabeh" , "123"), 
                                    ("sir zia" , "345"),
                                    ("ikhlas" , "789")
                                    ]

for row in data_base:
    user , password =  row
    print(user , password)

sabeh 123
sir zia 345
ikhlas 789

In [26]:

input_user : str = input("Enter user name")
print(input_user)

KeyboardInterrupt: Interrupted by user

In [ ]:
data_base : list[tuple[str,str]] = [("sabeh" , "123"), 
                                    ("sir zia" , "345"),
                                    ("ikhlas" , "789")
                                    ]

input_user : str = input("Enter user name")
input_password : str = input("Enter user password")

for row in data_base:
    user , password =  row
    if input_user == user and input_password == password:
        print(f"Valid User {user}")
        break

else:
    print("Invalid user name")

Valid Usersabeh

In [ ]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)

else:
    print("Hello World")

Sir Zia
Muhammad Qasim
DR Noman
Hello World

In [ ]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)


print("Hello World")

Sir Zia
Muhammad Qasim
DR Noman
Hello World

In [ ]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
    break

else:
    print("Hello World")

Sir Zia

In [ ]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
    break

print("Hello World")

Sir Zia
Hello World

* indentation error

In [ ]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
print(name)

IndentationError: expected an indented block after 'for' statement on line 3 (2614519669.py, line 4)

* syntax error

In [ ]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names
    print(name)

SyntaxError: expected ':' (1472454235.py, line 3)

In Python, after a loop finishes iterating, the variable used in the loop (here, magician) retains the value from the last iteration.
Since "Carolina" is the last name in the list, magician holds "carolina" after the loop.

In [29]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")

print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [36]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
  print(f"{magician.title()}, that was a great trick!")
  print(f"I can't wait to see your next trick, {magician.title()}.\n")

print("Thank you everyone, that was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you everyone, that was a great magic show!

* Indenting Unnecessarily

In [32]:
message = "Hello Python World!"
    print(message)

IndentationError: unexpected indent (2752036153.py, line 2)

* enumerate

In [57]:
#               0       1           2
magicians = ['alice', 'david', 'carolina']

for index, name in enumerate(magicians):
    print(index , name)

0 alice
1 david
2 carolina

# Numbers with loop
* `range (start,end,step)`

In [37]:
range(10)

range(0, 10)

In [49]:
# single value means, its end (2nd value by default)
list(range(10)) # starting = 0 , ending n-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
list(range(2,10)) # starting = 0 , ending n-1

[2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
list(range(2,21,2)) # starting = 2 , ending n-1 , step 2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [48]:
list(range(3,31,3)) # table of 3

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [58]:
for n in range(1,11,):
    print(n)

1
2
3
4
5
6
7
8
9
10

table of 2

In [59]:
for n in range(1,11):
    print(f'{2} X {n} = {n*2}')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

table with numerate

In [65]:
for index, num in enumerate(range(1, 11)):
  print(f'2 X {num} = {2 * num}')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [67]:
# 1 se lekr 10 k square
squares = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List comprehensive
```
for item in items_list:
    loop_body
```

# Comprehensive Style
```
 [loop_body for item in items_list]
```

In [68]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
for i in range(1,11):
    print(i **2)

1
4
9
16
25
36
49
64
81
100

In [73]:
print('line1')
print('line2')
print('line3')

line1
line2
line3

In [72]:
'line1'
'line2'
'line3' #always return last line

'line3'

comprehensive style:

In [71]:
[ i **2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [76]:
digits : list[int] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
9
0
45

In [81]:
# deep copy means, pehle wale pe effect nh hogi.
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:] # deep copy

print(my_foods)
print(friend_foods)

friend_foods[0] = 'Tikka'
print(my_foods)
print(friend_foods)

['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['Tikka', 'falafel', 'carrot cake']

# Tuples
```
Tuples in Python are immutable, meaning their elements cannot be changed after creation. This is in contrast to lists, which are mutable.
Once created, you cannot add, remove, or modify elements within the tuple.

```

In [82]:
names: tuple[str] = ("A" , "B" , "C")
print(names[0])
print(names[0:2])

A
('A', 'B')

In [83]:
names: tuple[str] = ("A" , "B" , "C")
names[0] = "Pakistan"

TypeError: 'tuple' object does not support item assignment

In [84]:
names: tuple[str] = ("A" , "B" , "C")
names: tuple[str] = ("Pakistan" , "B" , "C")
print(names)

('Pakistan', 'B', 'C')

In [85]:
from typing import Any
data : tuple[Any] = ("A", [1,2,3] , True)
print(data)

('A', [1, 2, 3], True)

In [86]:
data : tuple[Any] = ("A", [1,2,3] , True)
data[0] = "B"
print(data)

TypeError: 'tuple' object does not support item assignment

In [87]:
data : tuple[Any] = ("A", [1,2,3] , True)
data[1] = "B"
print(data)

TypeError: 'tuple' object does not support item assignment

In [89]:
data : tuple[Any] = ("A", [1,2,3] , True)
print(data[1])
data[1].append(20)

print(data)

[1, 2, 3]
('A', [1, 2, 3, 20], True)

In [91]:
a = input("abc") # returns string
print(type(a))
print(a)

<class 'str'>
123